{% extends 'base.html' %}{% block title %}Leaderboard{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2>Welcome, {{ user.first_name }}!</h2>
        <h3>Leaderboard</h3>
        <p>National Ranks</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                
                    {% set rank = 1 %}
                    {% for i in range(10) %}
                        <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ leaderboard[i][1] }}</td>
                        <td>{{ leaderboard[i][0] }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>


        
        
        {{state_rank_size}}
        {{stateboard[0]}}
        
        <br></br>
        <h3>Your Score</h3>
        <p>Your current score: {{ user.score_avg }}</p>

        <!-- Additional content and functionality as needed -->
    </div>

    <p>Reload page to show changes</p>
{% endblock %}